*{
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
.wraper{
    height: 390px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: lightgray;
    border: 1px solid #7b7676;
}
.display{
    width: 280px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.displaysc{
    height: 85%;
    width: 95%;
    background-color: #fbfbea;
    font-size: -webkit-xxx-large;
    font-family: ui-sans-serif;
    border-radius: 10px;
    border: 1px solid #7b7676;
    overflow: scroll;
}
.displaysc::-webkit-scrollbar {
    display: none;
  }
.numbers{
    width: 280px;
    height: 290px;
    border-radius: 10px;
    display: grid;
    grid-template-areas: 
    'clear pluse mines timess'
    'one two three divided'
    'four five six equal'
    'seven eight nine equal'
    'zero1 zero2 zero3 equal';
    gap: 5px;
}
.clear{
    grid-area: clear;
}
.pluse{
    grid-area: pluse;
}
.mines{
    grid-area: mines;
}
.times{
    grid-area: timess;
}
.one{
    grid-area: one;
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}
.divided{
    grid-area: divided;
}
.four{
    grid-area: four;
}
.five{
    grid-area: five;
}
.six{
    grid-area: six;
}
.equal{
    grid-area: equal;
}
.seven{
    grid-area: seven;
}
.eight{
    grid-area: eight;
}
.nine{
    grid-area: nine;
}
.zero{
    grid-area: zero1;
}
.zero2{
    grid-area: zero2;
}
.zero3{
    grid-area: zero3;
}
.numbers div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #aba2a2;
    border-radius: 30px;
    font-size: x-large;
    background-color: #e9e6e0;
    cursor: pointer;
}
.numbers div:hover{
    background-color: #c1b8b8;
}